.card {
    padding: 20px;
    border-radius: 5px;
    border:1px solid darkgray;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 40%;
    flex-direction: column;
}

